* {
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    height: 100%;
  }
  
  div {
    height: 100%;
  }
  
  .outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .outerBox{
    background-color: palevioletred;
    height : 600px;
    width : 600px;
  }